.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

body {
   color: aliceblue;
   background-color: black;
   font-family: "EB Garamond", serif;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 700px;
   margin: 0;
}

button {
    background-color: blueviolet;
    color: azure;
    font-family: "EB Garamond", serif;
}

img {
    width: 250px;
    color: darkblue;
    margin-left: 25%;

}